body{background: #070101; font-family: monospace;color: #FFFFFF;text-align: center}
h1{font-family: monospace;color: #FFFFFF;}
h2{font-family: monospace;color: #FFFFFF;}
h3{font-family: monospace;color: #FFFFFF;}
h4{font-family: monospace;color: #FFFFFF;}
h5{font-family: monospace;color: #FFFFFF;}
nav{font-family: monospace; font-size: 1.5em;}